.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-container {
  width: 400px;
  height: 600px;
  border: solid gray 1px;
  display: flex;
  margin: 20px auto 0;
  position: relative;
}

form {
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
}
textarea {
  height: 45px;
  width: 100%;
  resize: none;
  padding: 7px;
  box-sizing: border-box;
}

button {
  position: absolute;
  bottom: 11px;
  right: 5px;
}
textarea::-webkit-scrollbar {
  width: 0;
}
.chat-messages {
  height: 550px;
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.chat-one-message {
  border-radius: 6px;
  margin: 15px;
  width: 200px;
  padding: 7px;
  display: inline-block;
}
.chat-other-message {
  background-color: #c8c8c8;
}

.chat-my-message {
  background-color: #d2e2ef;
  position: relative;
  right: -150px;
}
